#game-board img {
    width: 25%;
    height: 25%;
    padding: 5px;
    box-sizing: border-box; /* when I say 25%, calculate that based on size of image and padding */
}

#elapsed-seconds {
    margin-right: 150px
}

#missed {

}